.user-container{
    display: flex;
    flex-direction: column;

    
   
}
.right{
  margin-top: -80px;
}
.product-container{
  padding: 1rem;
}
.userlist caption{
  font-weight: 500;
  color: rgb(114, 2, 2);
  font-size: 1.3rem;
  text-decoration: underline;
}
.userbtn{
  height: 2.5rem;
  width:7rem;
  margin-right:0.5rem;
}
.table{
  border:1px solid rgb(184, 175, 175);
  border-radius: 1rem;
  padding:1rem;
}

.table tr td{
  padding: 0.5rem;
}
.table tr td input{
  border: 1px solid rgb(201, 193, 193);
  border-radius: 0.5rem;
}
.table tr td input:hover{
  border: 1px solid lightblue;
}

@media screen and (min-width: 800px) {
  .user-container{
    flex-direction: row;
   
  }
  .right{
 
    padding: 4rem; 
  } 
}
  @media screen and (max-width: 800px) {
  .userbtn{
    margin-top: 0.5rem;
    height: 2rem;
    width:6.5rem;
    font-size: smaller;
  }
  
 
  
  }