<div class="user-container">
    <div class="left">
        <app-admin-header></app-admin-header>
    </div>
    <div class="right">
      <h3>LIST OF USERS :</h3>
      <div class="product-container" >
    <div class="table-responsive userlist" >
        <table class="table caption-top">
            <caption>LIST OF USERS :</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i =index">  
                    <td>{{i+1}}</td>              
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td>
                                <div>
                                <button type="button" class="btn btn-outline-primary userbtn" 
                                   (click)="editUsers(user)">Edit
                                    <i class="fa-solid fa-pencil" id="edit-icon"></i>
                                </button>
                            
                              <button type="button" class="btn btn-outline-danger userbtn" 
                              (click)="removeUser(user)">Remove
                              <i class="fa-solid fa-beat fa-eraser"></i>
                            </button>
                            </div>
                    </td>
                </tr>
            </tbody>
          </table>
      </div>
      </div>
</div>