<div class="user-container">
    <div class="left">
        <app-admin-header></app-admin-header>
    </div>
    <div class="right">
      <h3>LIST OF PRODUCTS :</h3>
      <form>
      <div class="product-container">
    <div class="table-responsive userlist" >
        <table class="table caption-top">
           
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Tags</th>
                <th scope="col">Stars</th>
                <th scope="col">ImageUrl</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let i =index">  
                    <td>{{i+1}}</td>              
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.tags}}</td>
                    <td>{{product.stars}}</td>
                    <!-- <td><img src={{this.product.imageUrl}} class="productImage" alt="Product image" /></td> -->
                    <td> <img
                      [src]="product.imageUrl"
                      [title]='product.name'
                      [style.width.px]='imageWidth'
                      [style.margin.px]='imageMargin'></td>
                    <td>
                                <div>
                                <button type="button" class="btn btn-outline-primary userbtn" 
                                   (click)="editProduct(product)">Edit
                                    <i class="fa-solid fa-pencil" id="edit-icon"></i>
                                </button>
                            
                              <button type="submit" class="btn btn-outline-danger userbtn" 
                              (click)="removeProduct(product)">Remove
                              <i class="fa-solid fa-beat fa-eraser"></i>
                            </button>
                            </div>
                    </td>
                </tr>
            </tbody>
          </table>
      </div>
      </div>
    </form>
    </div>
</div>
