.viewproduct{
    display: flex;
    flex-direction: row;
    
}

.left{
    flex:5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    
}
.pimage{
    width: 24rem;
   height: 22rem;
    border-radius: 1rem;
}
.right{
flex:4;
display: flex;
padding:2rem;

}
.pbutton{
    background-color: #e72929;
    border: none;
    color: white;
    width: 20rem;
    border-radius: 1rem;
}
.table{
  border: 1px solid white;
}