header{
    position: relative;
    padding: 1rem;
}
.logo{
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 3, 74);
    text-decoration: none;
    
}
.logbtn{
    width:90px;
    margin-left: 12px;
}
a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 450;
}
#totalq{
    background-color: #e72929;
    border-radius: 3rem;
    font-size: 0.8rem;
    color: blue;
    padding: 0.2rem;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu-container{
    position: relative;
   
}
.menu{
    position: absolute;
    z-index: 1;
    background-color: whitesmoke;
    opacity: 0.9;
    display: none;
    width: 120px;
    padding-bottom: 1.5rem;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}
ul li{
    padding: 1rem;
    
}
a{
    cursor: pointer;
    color: rgb(37, 36, 36);
}
ul a:hover{
   color: blue;
}
.menu-container:hover .menu{
    display: block;
}
.menu a{
    display: block;
    padding: 1rem;
    width: 100%;
    min-width: 8rem;
}