/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Nunito+Sans:wght@200&family=Varela&family=Varela+Round&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
html,
button{
    font-family: "Quicksand","sans-serif";
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
.bootstrap-tagsinput .tag{
    color:black;
    background-color: lightskyblue;
}
